In [ ]:
'''
    @Author: King
    @Date: 2019.03.17
    @Purpose: 语料预处理
    @Introduction: 使用pandas直接处理数据，建议使用apply方法，
                    处理速度比较快，数据处理完之后将有标签和无标签的数据合并，并保存成txt文件。
    @Link:https://github.com/jiangxinyang227/textClassifier/tree/master/dateHelper
    @Reference: https://www.cnblogs.com/jiangxinyang/p/10207273.html
'''

In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
with open("../data/rawData/unlabeledTrainData.tsv", "r", encoding= "utf-8") as f:
    unlabeledTrain = [line.strip().split("\t") for line in f.readlines() if len(line.strip().split("\t")) == 2]
    
with open("../data/rawData/labeledTrainData.tsv", "r", encoding= "utf-8") as f:
    labeledTrain = [line.strip().split("\t") for line in f.readlines() if len(line.strip().split("\t")) == 3]

In [3]:
unlabel = pd.DataFrame(unlabeledTrain[1: ], columns=unlabeledTrain[0])
label = pd.DataFrame(labeledTrain[1: ], columns=labeledTrain[0])

In [4]:
unlabel.head(5)

          id                                             review
0   "9999_0"  "Watching Time Chasers, it obvious that it was...
1  "45057_0"  "I saw this film about 20 years ago and rememb...
2  "15561_0"  "Minor Spoilers<br /><br />In New York, Joan B...
3   "7161_0"  "I went to see this film with a great deal of ...
4  "43971_0"  "Yes, I agree with everyone on this site this ...

In [5]:
label.head(5)

         id sentiment                                             review
0  "5814_8"         1  "With all this stuff going down at the moment ...
1  "2381_9"         1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"         0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"         0  "It must be assumed that those who praised thi...
4  "9495_8"         1  "Superbly trashy and wondrously unpretentious ...

In [6]:
def getRate(subject):
    splitList = subject[1:-1].split("_")
    return int(splitList[1])

label["rate"] = label["id"].apply(getRate)

In [7]:
label.head(5)

         id sentiment                                             review  rate
0  "5814_8"         1  "With all this stuff going down at the moment ...     8
1  "2381_9"         1  "\"The Classic War of the Worlds\" by Timothy ...     9
2  "7759_3"         0  "The film starts with a manager (Nicholas Bell...     3
3  "3630_4"         0  "It must be assumed that those who praised thi...     4
4  "9495_8"         1  "Superbly trashy and wondrously unpretentious ...     8

In [8]:
# 因此数据预处理比较简单，只去除了各种标点符号，HTML标签，小写化等。
def cleanReview(subject):
    beau = BeautifulSoup(subject)
    newSubject = beau.get_text()
#     newSubject = newSubject.replace("\\", "").replace("\'", "").replace('/', '').replace('"', '').replace(',', '').replace('.', '').replace('?', '').replace('(', '').replace(')', '')
    newSubject = newSubject.strip().split(" ")
    newSubject = [word.lower() for word in newSubject]
    newSubject = " ".join(newSubject)
    
    return newSubject
    
unlabel["review"] = unlabel["review"].apply(cleanReview)
label["review"] = label["review"].apply(cleanReview)

d:\progrom\python\python\python3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file d:\progrom\python\python\python3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [9]:
label.head(5)

         id sentiment                                             review  rate
0  "5814_8"         1  "with all this stuff going down at the moment ...     8
1  "2381_9"         1  "\"the classic war of the worlds\" by timothy ...     9
2  "7759_3"         0  "the film starts with a manager (nicholas bell...     3
3  "3630_4"         0  "it must be assumed that those who praised thi...     4
4  "9495_8"         1  "superbly trashy and wondrously unpretentious ...     8

In [10]:
# 将有标签的数据和无标签的数据合并
newDf = pd.concat([unlabel["review"], label["review"]], axis=0)

In [13]:
# 保存成txt文件
newDf.to_csv("../data/preProcess/wordEmbdiing.txt", index=False,encoding='utf-8')

In [14]:
newLabel = label[["review", "sentiment", "rate"]]
newLabel.to_csv("../data/preProcess/labeledCharTrain.csv",encoding='utf-8')